@media screen and (max-width: 767px) {
    form {
        grid-row: 2;
    }
}

.signUpBtn a, .signInBtn {
    transition: all ease-in-out .3s;
}

.signUpBtn a:hover, .signInBtn {
    transition: all ease-in-out .3s;
}